html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#debug_message {
    margin-top: 15px;
    width: 50%;
    font-size: 13px;
    font-style: italic;
    color: black;
}

#cameraContainer {
    border-radius: 30px;
    width: 70%;
    height: 80%;
    padding: 10px;
}

#captureButton, #stopButton, #downloadButton {
    margin-top: 5px;
    margin-bottom: 20px;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 700;
    background-color: #277EB7;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#captureButton:hover, #stopButton:hover, #downloadButton:hover {
    background-color: #575757;
}

.app_container {
    padding: 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 300px;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: center; 
    gap: 30px; 
}

.text_container {
    margin-bottom: 10px;
}

.review_container {
    position: absolute;
    border-radius: 20px;
    padding: 50px;
    background-color: #277EB7;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70%;
    height: 80%;
}

.custom-select {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-top: 5px;
}

.custom-select select {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-select select:hover, .custom-select select:focus{
    outline: 1px solid #ccc;
    background-color: rgb(245, 245, 245);
    border: none;
}

.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

h1 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: -10px;
}